    <div class="card">
      <h2><a href="{{ fname }}.html">{{ fname }}</a></h2>
      <h5>Title description, Dec 7, 2017</h5>
      <div class="fakeimg" style="height:200px;">Image</div>
      {{ text }}
    </div>
